<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.bookMngr.common.mybatis.mapper.UserMapper">

    <select id="selectUser1" resultType="SelectUserOutDao">

        SELECT  member_cd
               ,login_cnt
               ,member_grade
               ,member_grant
               ,member_id
               ,nick_nm
               ,password
               ,phone_number
               ,reger_dt
               ,rst_yn
               ,unreg_yn

         FROM MEMBER

         WHERE member_id = 'abcd123'

    </select>

    <select id="selectUser2" resultType="SelectUserOutDao">

        SELECT member_cd
             ,login_cnt
             ,member_grade
             ,member_grant
             ,member_id
             ,nick_nm
             ,password
             ,phone_number
             ,reger_dt
             ,rst_yn
             ,unreg_yn

        FROM MEMBER

        WHERE member_id = 'abcd123'
    </select>

    <select id="selectUser3" resultType="SelectUserOutDao">
        <![CDATA[
        SELECT  member_cd
             ,login_cnt
             ,member_grade
             ,member_grant
             ,member_id
             ,nick_nm
             ,password
             ,phone_number
             ,reger_dt
             ,rst_yn
             ,unreg_yn

        FROM MEMBER
        /* 테스트 -> */

        WHERE member_id = 'abcd123'
        ]]>
    </select>

    <select id="selectUser4" resultType="SelectUserOutDao">

        SELECT  member_cd
             ,login_cnt
             ,member_grade
             ,member_grant
             ,member_id
             ,nick_nm
             ,password
             ,phone_number
             ,reger_dt
             ,rst_yn
             ,unreg_yn

        FROM MEMBER

        WHERE member_id = #{userId}
    </select>

    <insert id="joinUserInfoByMyBatis">
        <selectKey resultType="int" keyProperty="seq" order="BEFORE">
            SELECT MAX(member_cd) + 1
              from bookmngr.member
        </selectKey>

        INSERT INTO bookmngr.`member` (
          member_cd
        , member_grade
        , member_grant
        , password
        , phone_number) VALUES (
          #{seq}
        , #{memberGrade}
        , 'U'
        , #{password}
        , #{phoneNumber}
        )
    </insert>

</mapper>

















